// Cores de fundo (bg-colors)
  //Primary
  .bgColor-primary
  {
    background-color: $colors-primary-primary-500;
  }
  .bgColor-primary-900
  {
    background-color: $colors-primary-primary-900;
  }
  .bgColor-dark
  {
    background-color: $colors-primary-primary-800;
  }
  .bgColor-primary-800
  {
    background-color: $colors-primary-primary-800;
  }
  .bgColor-primary-700
  {
    background-color: $colors-primary-primary-700;
  }
  .bgColor-primary-600
  {
    background-color: $colors-primary-primary-600;
  }
  .bgColor-primary-500
  {
    background-color: $colors-primary-primary-500;
  }
  .bgColor-primary-400
  {
    background-color: $colors-primary-primary-400;
  }
  .bgColor-primary-300
  {
    background-color: $colors-primary-primary-300;
  }
  .bgColor-primary-200
  {
    background-color: $colors-primary-primary-200;
  }
  .bgColor-primary-50
  {
    background-color: $colors-primary-primary-50;
  }
  .bgColor-primary-hover
  {
    background-color: $colors-primary-primary-700;
  }
  .bgColor-light-primary
  {
    background-color: $colors-primary-primary-50;
  }

  //Secondary
  .bgColor-secondary
  {
    background-color: $colors-secondary-primary-500;
  }
  .bgColor-secondary-900
  {
    background-color: $colors-secondary-primary-900;
  }
  .bgColor-secondary-800
  {
    background-color: $colors-secondary-primary-800;
  }
  .bgColor-secondary-700
  {
    background-color: $colors-secondary-primary-700;
  }
  .bgColor-secondary-600
  {
    background-color: $colors-secondary-primary-600;
  }
  .bgColor-secondary-500
  {
    background-color: $colors-secondary-primary-500;
  }
  .bgColor-secondary-400
  {
    background-color: $colors-secondary-primary-400;
  }
  .bgColor-secondary-300
  {
    background-color: $colors-secondary-primary-300;
  }
  .bgColor-secondary-200
  {
    background-color: $colors-secondary-primary-200;
  }
  .bgColor-secondary-50
  {
    background-color: $colors-secondary-primary-50;
  }


  .bgColor-light
  {
    background-color: $colors-white-white;
  }
  .bgColor-placeholder
  {
    background-color: $colors-white-white;
  }
  .bgColor-disabled
  {
    background-color: $colors-gray-gray-50;
  }
  .bgColor-secondary
  {
    background-color: $colors-secondary-primary-500;
  }
  .bgColor-light-secondary
  {
    background-color: $colors-secondary-primary-50;
  }
  .bgColor-yellow
  {
    background-color: $colors-yellow-yellow-500;
  }
  .bgColor-lightyellow
  {
    background-color: $colors-yellow-yellow-50;
  }
  .bgColor-green
  {
    background-color: $colors-green-green-500;
  }
  .bgColor-lightgreen
  {
    background-color: $colors-green-green-50;
  }
  .bgColor-red
  {
    background-color: $colors-red-red-500;
  }
  .bgColor-light-red
  {
    background-color: $colors-red-primary-50;
  }
  .bgColor-gray
  {
    background-color: $colors-gray-gray-300;
  }
  .bgColor-light-gray
  {
    background-color: $colors-gray-gray-50;
  }
  .bgColor-gradient-blue
  {
    background: linear-gradient(118deg, rgb(118, 198, 246) 0%, rgb(56, 31, 96) 100%);
  }

