  .space-0 {
    margin: #{$spacings-space-0}px;
  }
  
  .space-4 {
    margin: #{$spacings-space-4}px;
  }
  
  .space-8 {
    margin: #{$spacings-space-8}px;
  }
  
  .space-16 {
    margin: #{$spacings-space-16}px;
  }
  
  .space-24 {
    margin: #{$spacings-space-24}px;
  }
  
  .space-32 {
    margin: #{$spacings-space-32}px;
  }
  
  .space-48 {
    margin: #{$spacings-space-48}px;
  }
  
  .space-64 {
    margin: #{$spacings-space-64}px;
  }
  
  .space-80 {
    margin: #{$spacings-space-80}px;
  }
  
  .space-104 {
    margin: #{$spacings-space-104}px;
  }
  
  .space-240 {
    margin: #{$spacings-space-240}px;
  }
  