.coupon-chip{
  padding: 4px 8px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #eceffd !important;
  color: #000;
  text-transform: uppercase;
}
.keywords-chip{
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #434343 !important;
  color: #fff !important;
}
