
.img-logo {
    display: flex;
    align-items: flex-start;
    gap: 6.103px;
 }

.img-connection-lost {
    width: 269.402px;
    height: 147.878px;
    flex-shrink: 0;
    fill: var(--colors-gray-gray-50, #F5F5F5);
}
